In [1]:
import pandas as pd
import gmaps

In [2]:
casualty_df = pd.read_csv('dft-road-casualty-statistics-casualty-2020.csv')
vehicle_df = pd.read_csv('dft-road-casualty-statistics-vehicle-2020.csv', low_memory=False)
accident_df = pd.read_csv('dft-road-casualty-statistics-accident-2020.csv', low_memory=False)

In [3]:
casualty_df.head()

,accident_index,accident_year,accident_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile
0,2020010219808,2020,010219808,1,1,3,1,31,6,3,9,5,0,0,0,0,1,4
1,2020010220496,2020,010220496,1,1,3,2,2,1,3,1,1,0,0,0,0,1,2
2,2020010220496,2020,010220496,1,2,3,2,4,1,3,1,1,0,0,0,0,1,2
3,2020010228005,2020,010228005,1,1,3,1,23,5,3,5,9,0,0,0,0,1,3
4,2020010228006,2020,010228006,1,1,3,1,47,8,2,4,1,0,0,0,0,1,3

In [4]:
vehicle_df.head()

,accident_index,accident_year,accident_reference,vehicle_reference,vehicle_type,towing_and_articulation,vehicle_manoeuvre,vehicle_direction_from,vehicle_direction_to,vehicle_location_restricted_lane,...,journey_purpose_of_driver,sex_of_driver,age_of_driver,age_band_of_driver,engine_capacity_cc,propulsion_code,age_of_vehicle,generic_make_model,driver_imd_decile,driver_home_area_type
0,2020010219808,2020,010219808,1,9,9,5,1,5,0,...,6,2,32,6,1968,2,6,AUDI Q5,4,1
1,2020010220496,2020,010220496,1,9,0,4,2,6,0,...,2,1,45,7,1395,1,2,AUDI A1,7,1
2,2020010228005,2020,010228005,1,9,0,18,-1,-1,0,...,6,3,-1,-1,-1,-1,-1,-1,-1,-1
3,2020010228006,2020,010228006,1,8,0,18,1,5,0,...,1,1,44,7,1798,8,8,TOYOTA PRIUS,2,1
4,2020010228011,2020,010228011,1,9,0,18,3,7,9,...,6,1,20,4,2993,2,4,BMW 4 SERIES,-1,-1

In [5]:
accident_df.head()

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,2020010219808,2020,010219808,521389.0,175144.0,-0.254001,51.462262,1,3,1,...,9,1,9,9,0,0,1,3,2,E01004576
1,2020010220496,2020,010220496,529337.0,176237.0,-0.139253,51.470327,1,3,1,...,4,1,1,1,0,0,1,1,2,E01003034
2,2020010228005,2020,010228005,526432.0,182761.0,-0.178719,51.529614,1,3,1,...,0,4,1,2,0,0,1,1,2,E01004726
3,2020010228006,2020,010228006,538676.0,184371.0,-0.001683,51.541210,1,2,1,...,4,4,1,1,0,0,1,1,2,E01003617
4,2020010228011,2020,010228011,529324.0,181286.0,-0.137592,51.515704,1,3,1,...,0,4,1,1,0,0,1,1,2,E01004763

In [6]:
gmaps.configure(api_key = 'AIzaSyB429EwHUNNv5-AyhTse2Y3ew6IApemQAU')

In [7]:
central_ldn_coords = (51.50, -0.1)
fig = gmaps.figure(center=central_ldn_coords, zoom_level=11)

In [8]:
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
accident_coords_df = accident_df[['latitude','longitude']].dropna()

In [10]:
accident_coords_df

        latitude  longitude
0      51.462262  -0.254001
1      51.470327  -0.139253
2      51.529614  -0.178719
3      51.541210  -0.001683
4      51.515704  -0.137592
...          ...        ...
91194  56.473539  -2.926320
91195  55.802353  -4.267565
91196  57.186317  -2.271903
91197  55.950940  -3.968753
91198  56.003843  -4.561040

[91185 rows x 2 columns]

In [14]:
accidents_layer = gmaps.symbol_layer(
    accident_coords_df.sample(n=5000), fill_color='green', stroke_color='green', scale=2
)

In [15]:
fig.add_layer(accidents_layer)

In [16]:
fig

Figure(layout=FigureLayout(height='420px'))